<nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand" (click)="_toggleSidebar()" *ngIf="user"
		><fa-icon [icon]="faBars"></fa-icon
	></a>
	<div class="container">
		<a class="navbar-brand" href="#">Calendar</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
			(click)="isMenuCollapsed = !isMenuCollapsed"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div
			[ngbCollapse]="isMenuCollapsed"
			class="collapse navbar-collapse"
			id="navbarSupportedContent"
		>
			<ul class="navbar-nav mr-auto"></ul>
			<ul class="navbar-nav" *ngIf="!user">
				<li class="nav-item">
					<a class="nav-link" (click)="openSignUpForm()">Sign up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="openLoginForm()">Login</a>
				</li>
            </ul>
			<div ngbDropdown *ngIf="user">
				<ul class="navbar-nav">
					<li class="nav-item" id="dropdownBasic1">
						<a class="nav-link cursor-pointer" ngbDropdownToggle
							>Hello, {{user.first_name}}</a
						>
					</li>
				</ul>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<a ngbDropdownItem class="dropdown-item">Setting</a>
                    <div class="dropdown-divider"></div>
					<a ngbDropdownItem class="dropdown-item" (click)="logout()">Logout</a>
				</div>
			</div>
		</div>
	</div>
</nav>
