<div class="modal-header">
	<h4 class="modal-title">Sign Up</h4>
	<button
		type="button"
		class="close"
		aria-label="Close"
		(click)="activeModal.dismiss('Cross click')"
	>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="container">
		<form>
			<div class="input-container">
				<mat-form-field>
					<input
						matInput
						placeholder="Enter your email"
						[formControl]="email"
					/>
					<mat-error *ngIf="email.invalid">{{
						getEmailErrorMessage()
					}}</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input
						matInput
                        placeholder="Password"
                        [formControl]="password"
						[type]="hide ? 'password' : 'text'"
                    />
                    <mat-error *ngIf="email.invalid">{{
						getPasswordErrorMessage()
					}}</mat-error>
					<button
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{
							hide ? "visibility_off" : "visibility"
						}}</mat-icon>
					</button>
                </mat-form-field>

				<mat-form-field>
					<input
						matInput
						placeholder="Confirm Password"
						[type]="hide ? 'password' : 'text'"
					/>
					<button
						mat-icon-button
						matSuffix
						(click)="hideConfirm = !hideConfirm"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{
							hide ? "visibility_off" : "visibility"
						}}</mat-icon>
					</button>
				</mat-form-field>
			</div>

			<div class="float-right">
				<button mat-raised-button type="submit">Sign Up</button>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<br />
</div>
