<div class="modal-header">
	<h4 class="modal-title">Login</h4>
	<button
		type="button"
		class="close"
		aria-label="Close"
		(click)="activeModal.dismiss('Cross click')"
	>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div *ngIf="alert.success === 0" class="alert alert-danger" role="alert">
		{{alert.message}}
    </div>
	<div *ngIf="alert.success === 1" class="alert alert-success" role="alert">
		{{alert.message}}
	</div>
	<div class="container">
		<form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit(form)">
			<div class="input-container">
				<mat-form-field>
					<input matInput placeholder="Email" [formControl]="email" />
					<mat-error *ngIf="email.invalid">{{
						getEmailErrorMessage()
					}}</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input
						matInput
						placeholder="Password"
						[formControl]="password"
						[type]="hide ? 'password' : 'text'"
					/>
					<mat-error *ngIf="password.invalid">{{
						getPasswordErrorMessage()
					}}</mat-error>
					<button
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{
							hide ? "visibility_off" : "visibility"
						}}</mat-icon>
					</button>
				</mat-form-field>
			</div>

			<div class="float-right">
				<button
					mat-raised-button
					type="submit"
					[disabled]="formGroup.invalid"
				>
					Login
				</button>
			</div>
		</form>
	</div>
</div>
<br />
<br />
